* {
  box-sizing: border-box;
}

.slide {
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 50px;
  margin: 30px 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  gap: 200px;
}

.slide img {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 450px;
}

.slide .texts {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(69, 69, 69, 1);
  width: 600px;
  font-size: 50px;
  line-height: 1.2;
}

.fevral {
  align-self: flex-start;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(69, 69, 69, 1);
  border-radius: 100px;
  display: inline-block;
  margin-top: 20px;
  font-size: 40px;
  padding: 10px 10px;
}

.slideIcon {
  top: 330px;
  right: 40px;
  position: absolute;
  width: 108px !important;
  height: 10px;
}
