.reasons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 200px;
  padding: 40px 0;
}

.icons {
  background-color: rgba(69, 69, 69, 1);
}

.reasonsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reasonsHeader h1 {
  color: rgba(69, 69, 69, 1);
  font-size: 40px;
  font-weight: 700;
}

.cards {
  display: flex;
  gap: 15px;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
